doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= Jitter
    link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet" href="asset/css/vendor/bootstrap.css")
    link(rel="stylesheet" href="asset/css/base.css")
  body
    script(src="./script/app.js")
