doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= Jitter
    link(rel="stylesheet" href="asset/css/vendor/ionicons.css")
    link(rel="stylesheet" href="asset/css/base.css")
  body
    section#app.l-section

    script(src="./javascript/app.js")
